<svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" width="28">
<path id="Mail" fill-rule="evenodd" clip-rule="evenodd" fill="#D1CECC" d="M14,28c7.7,0,14-6.3,14-14S21.7,0,14,0S0,6.3,0,14S6.3,28,14,28z M14,15.6l8.1-7H5.9L14,15.6z M11.8,14.8l2.2,1.8l2.1-1.8l5.9,5.1H5.9L11.8,14.8z M5.4,19.4V9.2l5.9,5.1
L5.4,19.4z M22.6,19.4V9.2l-5.9,5.1L22.6,19.4z"/>
</svg>

<!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="190">
  <polygon points="100,10 40,180 190,60 10,60 160,180"
  style="fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;" />
</svg> -->